<div class="login">
  <div class="login__card">
    <div class="login__logo">Vinyle<span>.</span></div>

    <% if alert.present? %>
      <div class="login__error"><%= alert %></div>
    <% end %>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name),
                 html: { "data-turbo" => "false" }) do |f| %>
      <div class="form-field">
        <%= f.label :email, "Email" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="form-field">
        <%= f.label :password, "Password" %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <%= f.submit "Sign in", class: "btn btn--primary login__submit" %>
    <% end %>
  </div>
</div>
